
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Trouve</title>
</head>
<body>
    <div>
        Le client @ViewBag.Nom a bien été trouvé et a @ViewBag.Age ans.
    </div>
</body>
</html>
